/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font size and family */
body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Center the title */
h1 {
  text-align: center;
  margin-top: 30px;
}

/* Center the form and result container */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Style form elements */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #e8e8e8;
  font-size: 16px;
  width: 100%;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

/* Style result container */
#result {
  margin-top: 30px;
  text-align: center;
}

#gratuityAmount {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#gratuityDescription {
  font-size: 16px;
}

/* Style footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 30px;
}

footer p {
  margin: 0;
}

/* Adjust styles for smaller screens */
@media (max-width: 600px) {
  /* Adjust container styles */
  .container {
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Adjust form styles */
  form {
    width: 100%;
  }
  
  /* Adjust input styles */
  input {
    width: 100%;
  }
  
  /* Adjust result styles */
  #result {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Adjust footer styles */
  footer {
    font-size: 12px;
    position: static;
    margin-top: 20px;
    padding: 10px 0;
  }
}
