* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", serif;
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
  margin-top: 40px;
  margin-bottom: 20px;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

label {
  margin-right: 10px;
  margin-bottom: 10px;
}

input[type=date],
input[type=number] {
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

button[type=button]:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  display: 0;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

#result p {
  color: blue;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: auto;
}

footer p {
  margin-bottom: 5px;
}


@media only screen and (max-width: 600px) {
  form {
    flex-direction: column;
  }
  input[type=date],
  input[type=number],
  button[type=button] {
    width: 100%;
  }
}
