/* Reset default styles */
* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

/* Set the viewport to the device width */
meta {
  viewport: width=device-width, initial-scale=1;
}

/* Set the font family and size for the entire page */
body {
  font-family: "Bodoni", "Times New Roman", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

/* Add a top-level container to center the page content */
.container {
  max-width: none;
  padding: 0;
  width: 100%;
  margin-bottom: 60px; /* adjust as necessary to prevent footer overlap */
}

/* Remove margin from h1 element */
h1 {
  margin: 0;
  font-size: 2rem; /* increase size for better visibility on smaller screens */
}

/* Style the input form */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 1.2rem; /* increase size for better visibility on smaller screens */
  margin-bottom: 10px;
}

input[type="date"],
input[type="number"] {
  font-size: 1.2rem; /* increase size for better visibility on smaller screens */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="button"] {
  font-size: 1.2rem; /* increase size for better visibility on smaller screens */
  padding: 10px;
  background-color: #4CAF50;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #3E8E41;
}

/* Style the result container */
#result {
  margin-top: 80px; /* account for h1 margin */
  font-size: 2rem; /* increase size for better visibility on smaller screens */
}

#error-message {
  font-size: 1.2rem; /* increase size for better visibility on smaller screens */
  color: #FF0000;
  margin-bottom: 20px;
}

/* Style the footer */
footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  height: 60px; /* adjust as necessary */
  width: 100%;
  font-size: 1rem; /* decrease size for better fit on smaller screens */
  color: #666;
  border-top: 1px solid #ccc;
}
