/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Set the font family and size for the entire page */
body {
  font-family: "Bodoni", "Times New Roman", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  min-height: 100vh;
  position: relative;
}
/* Add a top-level container to center the page content */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}
/* Style the page title */
h1 {
  font-size: 34px;
  margin-bottom: 20px;
}
/* Style the input form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
label {
  font-size: 16px;
  margin-bottom: 10px;
}
input[type="date"], input[type="number"] {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
button[type="button"] {
  font-size: 18px;
  font-family: "Bodoni", "Times New Roman", Arial, sans-serif;
  padding: 10px;
  background-color: #4CAF50;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type="button"]:hover {
  background-color: #3E8E41;
}
/* Style the result section */
#result {
  margin-top: 20px;
  text-align: center;
}
#result p {
  font-size: 32px;
  margin-bottom: 10px;
}
#gratuityAmount {
  font-weight: bold;
}
/* Style the footer */
footer {
  font-size: 12px;
  color: #666666;
  text-align: center;
  margin-top: auto;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  position: absolute;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
 }


 footer p {
   display: flex;
   align-items: center;
   justify-content: center;
 }


 /* Media query for smaller screens */
 @media only screen and (max-width: 600px) {
   h1 {
    font-size: 24px;
   }
   form {
    margin-bottom: 10px;
   }
   label {
    font-size: 14px;
   }
   input[type="date"], input[type="number"] {
    font-size: 14px;
    padding: 8px;
    margin-bottom: 10px;
   }
   button[type="button"] {
    font-size: 16px;
    padding: 8px;
   }
   #result p {
    font-size: 24px;
   }
   footer {
    font-size: 10px;
    height: 40px;
   }
 }
