/* Reset Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
:root {
  --primary-color: #1c1c1c;
  --secondary-color: #ffffff;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: var(--secondary-color);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: var(--font-secondary);
  font-size: 2rem;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-item {
  list-style: none;
  margin-left: 40px;
}

.header__menu-link {
  font-size: 1.2rem;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.header__menu-link:hover {
  color: #666666;
}

/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.form__label {
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: var(--font-primary);
  font-size: 1rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

.form__input[type=date] {
  /* make the input date format dd/mm/yyyy */
  text-transform: uppercase;
}

.form__input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form__button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.2s ease-in-out;
}

.form__button:hover {
  background-color: #666666;
}

/* Result Styles */
.result {
  margin-top: 40px;
  text-align: center;
}

.result__heading {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.result__message {
  font-family: var(--font-primary);
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}
